html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

/* level selection modal styling */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;
    top: 20%;
    width: 50%;
    height: 60%;
    overflow: scroll;
    background: linear-gradient(to bottom, rgba(97, 215, 255, 1), rgba(73, 188, 16, 1));
}

/* Modal Content/Box */
.level-modal-content {
    background-image: url('C:/Users/rhove/OneDrive/Documents/web-development-LAPTOP-SQS5A76R/FEND/Second/memory-game/img/backgrounds/butterflies.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    font: 1.2em;
}

.level-selection {
  font: 1em;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0.5em 0 1em 0;
}
.level-selection .intro {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.level {
  width: 100%;
}
.level.medium {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.level.hard {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.level.difficult {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.level-select.medium {
  /* width: 45%; */
  height: 3em;
  display: inline-block;
  /* padding: 2em 0 2em 0; */
  margin: 0;
}
.level-selection button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding-bottom: 1em;
}
.level-selection button:hover {
  background-color: rgba(97, 215, 255, 0.4);
}
.level-selection img {
  height: 3em;
}
.level-desc {
  font: 1em cursive;
  /* font: font-style font-variant font-weight font-size/line-height
  font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit; */
}

.theme-selection {
  display: none;
}
.theme-selection-area {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 33% 33% 33%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.selectPack {
  width: 33%;
  display: inline-block;
  cursor: pointer;
}
.selectPack:hover {
  background-color: rgba(97, 215, 255, 0.4);
}
.selectPack.one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.selectPack.two {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.selectPack.three {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.themes {
  display: none;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.theme-selection-area .intro {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    min-width: 640px;
    min-height: 350px;
    max-width: 760px;
    max-height: 640px;
    /* background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); */
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}
.deck.easy {
  /* background-image: url('C:/Users/rhove/OneDrive/Documents/web-development-LAPTOP-SQS5A76R/FEND/Second/memory-game/img/backgrounds/butterflies.png'); */
  width: 680px;
  height: 350px;
  background: linear-gradient(60deg, rgba(89, 192, 89, 0.5) 0%, rgba(65, 170, 65, 0.5) 100%);
}
.deck.medium {
  width: 640px;
  height: 500px;
  background: linear-gradient(60deg, rgba(223, 184, 58, 0.5) 0%, rgba(231, 203, 110, 0.5) 100%);
}
.deck.hard {
  width: 640px;
  height: 640px;
  background: linear-gradient(60deg, rgba(229, 129, 93, 0.5) 0%, rgba(235, 160, 132, 0.5) 100%);
}
.deck.difficult {
  width: 760px;
  height: 640px;
  background: linear-gradient(60deg, rgba(240, 45, 45, 0.5) 0%, rgba(200, 14, 14, 0.5) 100%);
}
body.butterflies {
  background: #61D7FF url('../img/backgrounds/butterflies.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.farmyard {
  background: #61D7FF url('../img/backgrounds/farmyard.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.birds {
  background: #ffffff url('../img/backgrounds/butterflies.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.bugs {
  background: #ffffff url('../img/backgrounds/butterflies.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.reptiles {
  background: #ffffff url('../img/backgrounds/butterflies.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.dinosaurs {
  background: #ffffff url('../img/backgrounds/butterflies.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.endangered {
  background: #ffffff url('../img/backgrounds/butterflies.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.woodland {
  background: #ffffff url('../img/backgrounds/butterflies.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.sealife {
  background: #ffffff url('../img/backgrounds/butterflies.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    -webkit-transition: font-size 1s; /* Safari */
    transition: font-size 1s;
}

/* .deck .card.match {
    -webkit-transition: background-color 1s; /* Safari */
    /* transition: background-color 1s; */

.card.match{
  cursor: default;
  font-size: 33px;
  background: #02ccba;
  animation-name: right-animation;
  animation-duration: 1.5s;
}
@-webkit-keyframes right-animation {
  from {background-color: green;}
  to {background-color: #02ccba;}
	0% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	25% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	50% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	75% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	100% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
}
/* Card animation styling */
/* The animation code */
@-webkit-keyframes wrong-animation {
  from {background-color: red;}
  to {background-color: #2e3d49;}
	0% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	25% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	50% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	75% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	100% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
}
/* The element to apply the animation to */
.wrong {
   animation-name: wrong-animation;
   animation-duration: 1.5s;
}
.card.hold {
  cursor: default;
  font-size: 33px;
  background: #02ccba;
}
/*
 * Styles for the Score Panel
*/

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    /* image: url('C:/Users/rhove/OneDrive/Documents/web-development-LAPTOP-SQS5A76R/FEND/Second/memory-game/img/symbols/black-star-filled.png'); */
    /* list-style-image: url('C:/Users/rhove/OneDrive/Documents/web-development-LAPTOP-SQS5A76R/FEND/Second/memory-game/img/symbols/black-star-filled.png'); */
}
.score-panel .stars {
    display: inline-block;
    /* image: url('C:/Users/rhove/OneDrive/Documents/web-development-LAPTOP-SQS5A76R/FEND/Second/memory-game/img/symbols/black-star-filled.png'); */
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
/* .fa-star {
  background-image: url('C:/Users/rhove/OneDrive/Documents/web-development-LAPTOP-SQS5A76R/FEND/Second/memory-game/img/symbols/black-star-filled.png');
} */
