html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns*/
    font-family: 'Coda', cursive;
}
a:link {
  color: black;
  background-color: transparent;
  /* text-decoration: none; */
}
a:visited {
  color: #303030;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  transform: translateY(-4px);

}
/* level selection modal styling */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(97, 215, 255, 0.5), rgba(73, 188, 16, 0.5));
    border: 3px ridge rgba(97, 215, 255, 1);
}

/* Modal Content/Box */
.level-modal-content {
    /* background-image: url('C:/Users/rhove/OneDrive/Documents/web-development-LAPTOP-SQS5A76R/FEND/Second/memory-game/img/backgrounds/butterflies.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    font: 1.2em;
    margin: 3em 2em 5em 2em;
}

.level-selection {
  font: 1em;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0.5em 0 1em 0;
}
.level-selection .intro {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.level {
  width: 100%;
}
.level.medium {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.level.hard {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.level.difficult {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.level-select.medium {
  /* width: 45%; */
  height: 3em;
  display: inline-block;
  /* padding: 2em 0 2em 0; */
  margin: 0;
}
.level-selection button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding-bottom: 1em;
}
.level-selection button:hover {
  background-color: rgba(97, 215, 255, 0.4);
}
.level-selection img {
  height: 3em;
}
.level-desc {
  font: 1em cursive;
  /* font: font-style font-variant font-weight font-size/line-height
  font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit; */
}

.theme-selection {
  display: none;
}
.theme-selection-area {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 33% 33% 33%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.selectPack {
  width: 33%;
  display: inline-block;
  cursor: pointer;
}
.selectPack:hover {
  background-color: rgba(97, 215, 255, 0.4);
}
.selectPack.one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.selectPack.two {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.selectPack.three {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.themes {
  display: none;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.theme-selection-area .intro {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.heading {
  background-color: rgba(250, 250, 250, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    min-width: 640px;
    min-height: 350px;
    max-width: 760px;
    max-height: 640px;
    /* background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); */
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}
body.butterflies {
  background: #61D7FF url('../img/backgrounds/butterflies.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cardSymbols {
  /* width: 200%; */
  /* display: none; */
}
.card img {
  display: none;
  width: 4em;
  height: 3em;
  margin: auto;
}
.card.open.show img {
  display: block;
}
.card.hold img {
  display: block;

}
body.farmyard {
  background: #61D7FF url('../img/backgrounds/farmyard.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.birds {
  background: url('../img/backgrounds/birds.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.bugs {
  background: url('../img/backgrounds/bugs.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.reptiles {
  background: url('../img/backgrounds/reptiles.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.dinosaurs {
  background: url('../img/backgrounds/dinosaurs.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.endangered {
  background: url('../img/backgrounds/endangered.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.woodland {
  background: url('../img/backgrounds/woodland.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.sealife {
  background: url('../img/backgrounds/sealife.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* styling for all decks */
.deck .card {
    height: 125px;
    width: 125px;
    /* font-size: 0; */
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
.deck .card.open {
    transform: rotateY(0);
    cursor: default;
}
/* styling for easy decks */
.deck.easy {
  width: 680px;
  height: 350px;
  background: linear-gradient(60deg, rgba(89, 192, 89, 0.5) 0%, rgba(65, 170, 65, 0.5) 100%);
}
.easy .card {
    background: rgba(89, 192, 89, 1);
}
.easy .card.hold {
  background: rgba(53, 141, 53, 1);
  cursor: default;
}
.easy .card.open {
    background: rgba(74, 186, 74, 1);
}
.easy .card.match {
  animation-name: easy-right-animation;
  cursor: default;
}
.easy .card.wrong {
   animation-name: easy-wrong-animation;
   animation-duration: 1.5s;
}
@-webkit-keyframes easy-right-animation {
  from {background-color: rgba(74, 186, 74, 1);}
  to {background-color: rgba(53, 141, 53, 1);}
	0% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	25% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	50% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	75% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	100% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
}
/* Card animation styling */
/* The animation code */
@-webkit-keyframes easy-wrong-animation {
  from {background-color: red;}
  to {background-color: rgba(89, 192, 89, 1);}
	0% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	25% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	50% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	75% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	100% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
}
/* styling for medium decks */
.deck.medium {
  width: 680px;
  height: 450px;
  background: linear-gradient(60deg, rgba(255, 147, 31, 0.5) 0%, rgba(255, 134, 5, 0.5) 100%);
}
.medium .card {
    background: rgba(255, 147, 31, 1);
}
.medium .card.open {
    background: rgba(255, 166, 71, 1);
}
.medium .card.hold {
  background: rgba(240, 84, 0, 1);
  cursor: default;
}
.medium .card.match {
  animation-name: medium-right-animation;
  cursor: default;
}
.medium .card.wrong {
   animation-name: medium-wrong-animation;
   animation-duration: 1.5s;
}
@-webkit-keyframes medium-right-animation {
  from {background-color: rgba(255, 166, 71, 1);}
  to {background-color: rgba(240, 84, 0, 1);}
	0% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	25% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	50% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	75% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	100% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
}
/* Card animation styling */
/* The animation code */
@-webkit-keyframes medium-wrong-animation {
  from {background-color: red;}
  to {background-color: rgba(255, 147, 31, 1);}
	0% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	25% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	50% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	75% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	100% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
}
/* styling for hard decks */
.deck.hard {
  width: 640px;
  height: 580px;
  background: linear-gradient(60deg, rgba(255, 5, 5, 0.5) 0%, rgba(214, 0, 0, 0.5) 100%);
}
.hard .card {
    background: rgba(255, 5, 5, 1);
}
.hard .card.open {
    background: rgba(255, 46, 46, 1);
}
.hard .card.match {
  animation-name: hard-right-animation;
  cursor: default;
}
.hard .card.hold {
  background: rgba(240, 0, 0, 1);
  cursor: default;
}
.hard .card.wrong {
   animation-name: hard-wrong-animation;
   animation-duration: 1.5s;
}
@-webkit-keyframes hard-right-animation {
  from {background-color: rgba(255, 46, 46, 1);}
  to {background-color: rgba(240, 0, 0, 1);}
	0% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	25% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	50% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	75% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	100% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
}
/* Card animation styling */
/* The animation code */
@-webkit-keyframes hard-wrong-animation {
  from {background-color: rgba(199, 0, 0, 1);}
  to {background-color: rgba(255, 5, 5, 1);}
	0% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	25% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	50% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	75% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	100% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
}
/* styling for difficult decks */
.deck.difficult {
  width: 760px;
  height: 640px;
  background: linear-gradient(60deg, rgba(240, 0, 0, 0.5) 0%, rgba(204, 0, 0, 0.5) 100%);
}
.difficult .card {
    background: rgba(240, 0, 0, 1);
}
.difficult .card.hold {
  background: rgba(199, 0, 0, 1);
  cursor: default;
}
.difficult .card.open {
    background: rgba(255, 102, 102, 1);
}
.difficult .card.match {
  animation-name: difficult-right-animation;
  cursor: default;
}
.difficult .card.wrong {
   animation-name: difficult-wrong-animation;
   animation-duration: 1.5s;
}
@-webkit-keyframes difficult-right-animation {
  from {background-color: rgba(255, 102, 102, 1);}
  to {background-color: rgba(199, 0, 0, 1);}
	0% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	25% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	50% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	75% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	100% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
}
/* Card animation styling */
/* The animation code */
@-webkit-keyframes difficult-wrong-animation {
  from {background-color: rgba(143, 0, 0, 1);}
  to {background-color: rgba(240, 0, 0, 1);}
	0% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	25% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	50% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
	75% { -webkit-transform: translate(-1px, -1px) rotate(-2deg); }
	100% { -webkit-transform: translate(1px, 1px) rotate(2deg); }
}

.pack-select.tbc {
  width: 3em;
}
/*
 * Styles for the Score Panel
*/

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    /* image: url('C:/Users/rhove/OneDrive/Documents/web-development-LAPTOP-SQS5A76R/FEND/Second/memory-game/img/symbols/black-star-filled.png'); */
    /* list-style-image: url('C:/Users/rhove/OneDrive/Documents/web-development-LAPTOP-SQS5A76R/FEND/Second/memory-game/img/symbols/black-star-filled.png'); */
}
.score-panel .stars {
    display: inline-block;
    /* image: url('C:/Users/rhove/OneDrive/Documents/web-development-LAPTOP-SQS5A76R/FEND/Second/memory-game/img/symbols/black-star-filled.png'); */
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
.footer{
  background-color: rgba(250, 250, 250, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
}
