@media screen and (min-width:750px){
  .heading {
    font-size: 1em;
  }
  body {
    font-size: 1em;
  }
  .modal {
      left: 20%;
      top: 10%;
      width: 60%;
      height: auto;
      max-height: 100%;
  }
  /* Modal Content/Box */
  .level-selection {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto;
    margin: 0.5em 0 1em 0;
  }
  .level-selection .intro {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .level.easy {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .level.medium {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .level.hard {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .level.expert {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .level-selection img {
    height: 3em;
    width: auto;
  }
  .level-selection .hard img {
    height: 5em;
    width: auto;
  }
  .level-selection .expert img {
    height: 5em;
    width: auto;
  }
  .pack-select.tbc {
    width: 2.3em;
  }
  .selectPack {
    width: 100%;
    display: inline-block;
  }

  .theme-selection-area .intro {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .selectPack.one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .selectPack.two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .selectPack.three {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  /*
   * Styles for the deck of cards
   */
  /* styling for all decks */
  /* styling for easy decks */
  .deck.easy {
    width: 70%;
    height: 300px;
  }
  .deck.easy .card {
      height: 7em;
      width: 7em;
  }
  /* medium decks styling */
  .deck.medium {
    width: 70%;
    height: 450px;
  }
  .deck.medium .card {
      height: 7em;
      width: 7em;
  }
  /* styling for hard decks */
  .deck.hard {
    width: 70%;
    height: 550px;
  }
  .deck.hard .card {
      height: 7em;
      width: 7em;
  }
  /* styling for expert decks */
  .deck.expert {
    width: 90%;
    height: 575px;
  }
  .deck.expert .card {
      height: 7em;
      width: 7em;
  }
  /* winning modal styling */
  .congrats {
    font-size: 0;
  }
  .congrats.live {
    font-size: 3em;
    top: 20%;
    left: 30%;
  }
  .winModal {
    top: 22%;
    left: 25%;
    width: 50%;
    margin: auto;
    font-size: 1.2em;
    overflow: hidden;
  }
}
@media screen and (min-width:1000px){
  body {
    font-size: 1.6em;
  }
  .modal {
      left: 20%;
      top: 10%;
      width: 60%;
      height: auto;
      max-height: 100%;
  }
  /* Modal Content/Box */
  .level-selection {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto;
    margin: 0.5em 0 1em 0;
  }
  .level-selection .intro {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .level.easy {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .level.medium {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .level.hard {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .level.expert {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .level-selection img {
    height: 3em;
    width: auto;
  }
  .level-selection .hard img {
    height: 5em;
    width: auto;
  }
  .level-selection .expert img {
    height: 5em;
    width: auto;
  }
  .pack-select.tbc {
    width: 1.8em;
  }
  .selectPack {
    width: 100%;
    display: inline-block;
  }

  .theme-selection-area .intro {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .selectPack.one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .selectPack.two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .selectPack.three {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  /*
   * Styles for the deck of cards
   */
  /* styling for all decks */
  /* styling for easy decks */
  .deck.easy {
    width: 80%;
    height: 700px;
  }
  .deck.easy .card {
      height: 11em;
      width: 11em;
  }
  /* medium decks styling */
  .deck.medium {
    width: 80%;
    height: 950px;
  }
  .deck.medium .card {
      height: 11em;
      width: 11em;
  }
  /* styling for hard decks */
  .deck.hard {
    width: 70%;
    height: 1200px;
  }
  .deck.hard .card {
      height: 9.5em;
      width: 9.5em;
  }
  /* styling for expert decks */
  .deck.expert {
    width: 80%;
    height: 90%;
  }
  .deck.expert .card {
      height: 9em;
      width: 9em;
  }
  /* winning modal styling */
  .congrats {
    font-size: 0;
  }
  .congrats.live {
    font-size: 3em;
    top: 20%;
    left: 30%;
  }
  .winModal {
    top: 22%;
    left: 25%;
    width: 50%;
    margin: auto;
    font-size: 1.2em;
    overflow: hidden;
  }
}
